.box {
    width: 150px;
    height: 150px;
    background-color: red;
    position: relative;

    animation-name: animation;
    animation-duration: 7s;
    animation-delay: 1.2s;
}

@keyframes animation {
    0% {
        left: 0;
        top: 0;
        background-color: red;
    }
    25% {
        left: 500PX;
        top: 0;
        background-color: blue;
        border-radius: 100%;
    }
    50% {
        top: 500px;
        left: 500px;
        background-color: yellow;
        border-radius: 0;
    }
    75% {
        left: 0;
        top: 500px;
        background-color: green;
        border-radius: 100%;
    }
    100% {
        left: 0;
        top: 0;
        background-color: blueviolet;
        border-radius: 0;
    }
}